@import '../../styles/default.scss';
.header{
    background:$colorM;
    .header-top{
        height: 60px;
        line-height:60px;
        padding: 0 20px;
        text-align: right;
        .logo{
            line-height:60px;
            text-align:left;
            img{
                display:inline-block;
                width:auto;
                margin-right:15px;
                height:45px;
                vertical-align: middle;
            }
        }
        a{
            margin-left: 40px;
        }
    }
    .breadcrumb{
        height:40px;
        line-height:40px;
        padding:0 20px;
        border-top:1px solid #f9c700;
        .breadcrumb-title{
            text-align:center;
            position:relative;
            font-size: $fontC;
            &:after{
                display:block;
                content: '';
                position:absolute;
                bottom: -19px;
                left:50%;
                margin-left:-10px;
                border:10px solid transparent;
                border-top-color:$colorM;
            }
        }
        .weather{
            text-align: right;
            .date{
                padding-right:10px;
            }
        }
    }
}

// common 页面简单头
.simple-page{
    .header-top{
      background:#1890ff;
      color:$colorM;
    }
    .ant-form,
    .ant-col-12,
    .weather{
      display:none;
    }
  }